/*
    ==============================================
                ****** RESET ******
    ==============================================
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
      ==============================================
                  ****** GLOBAL ******
      ==============================================
 */

.color-red {
  color: #f72210;
}
.bg-color-red {
  background-color: #f72210;
}

/*
      ==============================================
                  ****** HEADER SECTION ******
      ==============================================
 */

.top-header {
  padding: 20px 10px 15px;
}

.newsweek-icon {
  width: 396px;
  filter: invert(1);
}

.weather-icon {
  height: 24px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #333;
}

/*
      ==============================================
                  ****** MEDIA QUERY ******
      ==============================================
 */

 @media only screen and (max-width: 991px) {
  .newsweek-icon { 
    width: 132px;
   }

  .top-header {
    padding: 0 0 0;
  }
}