/*
    ==============================================
                ****** RESET ******
    ==============================================
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
      ==============================================
                  ****** GLOBAL ******
      ==============================================
 */

.color-red {
  color: #f72210;
}
.bg-color-red {
  background-color: #f72210;
}

header {
  font-family: 'Roboto Condensed', serif;
}

/*
      ==============================================
                  ****** HEADER SECTION ******
      ==============================================
 */

.top-header {
  padding: 20px 10px 15px;
}

.newsweek-icon {
  width: 396px;
  filter: invert(1);
}

.weather-icon {
  height: 24px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #333;
}

.fa-bars {
  filter: invert(1);
}

.subscribe-button {
  padding: 0 12px;
  border-radius: 50px;
  margin: 0 12px 0 18px;
  border: transparent;
  background-color: #FFE400;
  font-size: 18px;
  font-weight: bold;
}

.fa-user-alt {
  filter: invert(1);
}

.top-center-header {
  border: 1px solid red;
}

.newsweek-icon {
  border: 1px solid blue;
}

/*
      ==============================================
                  ****** MEDIA QUERY ******
      ==============================================
 */

 @media only screen and (max-width: 991px) {
  .newsweek-icon { 
    width: 132px;
   }

  .subscribe-button {
    width: 129px;
    height: 30px;
    font-size: 18px;
  }   

  .fa-bars {
    font-size: 30px;
  }

  .top-header {
    padding: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .fa-bars {
    font-size: 20px;
  }

  .subscribe-button {
    border-radius: 50px;
    margin: 0 12px 0 18px;
    width: 94px;
    height: 24px;
    font-size: 13px;
  }   

}